<div class="home-hero-section">
    <div class="home-hero-back">





      {%comment%}
      <div class="hero-content-wrapper">
        <h3>Gifts for Any Occasion</h3>
        <h1>CUSTOMIZABLE <br>CORPORATE GIFTS</h1>
        <a href="https://funkychunkygifts.com/collections/all-products" class="general-btn margin-t w-button">Start Your Order</a>
      </div>
      {%endcomment%}
    </div>

    
  <div class="general-white-front home top-flat">
    <div class="general-content-wrapper wider no-padding-b">
      <h1 class="black-text">why give corporate gifts?</h1>
      {%comment%}
      <p class="black-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      {%endcomment%}
    </div>
    <div class="corporate-gift-pill">
      <div class="wholesale-pill-flex-row">
        <div class="wholesale-pill-flex-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/cg-satisfaction.svg" loading="lazy" alt="" class="wholesale-img">
          <p class="no-margin-b">100% Satisfaction Guarantee</p>
        </div>
        <div class="wholesale-pill-flex-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/cg-brand.svg" loading="lazy" alt="" class="wholesale-img">
          <p class="no-margin-b">Brand Your Gifts With A Logo<span class="break-line"></span></p>
        </div>
        <div class="wholesale-pill-flex-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/cg-message.svg" loading="lazy" alt="" class="wholesale-img">
          <p class="no-margin-b">Send a Personalized Gift Message</p>
        </div>
      </div>
    </div>


    <div class="general-content-wrapper wider alt2">
      
      <div class="remember-flex-row">
        <div class="remember-flex-col"></div>
        <div class="remember-flex-col-text">
          <h1 class="black-text left-align center-tab">YOUR CUSTOMERS<br>&amp; EMPLOYEES WILL<br>REMEMBER YOU<br>WITH FUNKY CHUNKY</h1>
          <p class="black-text left-align center-tab">Sending 20 gifts or more? And want to customize them? Funky Chunky makes it EASY to order and ship your gifts.</p>
          <a href="https://funkychunkygifts.com/collections/all-products" class="general-btn dark-with-w-text margin-t w-button">Shop Corporate</a>


          </div>
      </div>
      <div class="business-gift-grid">
        <div id="w-node-_5654ae0b-dc92-0536-2857-072abce3a272-724b8620" class="line"></div>
        <div id="w-node-_580968bb-8bdd-dab5-4d00-a939acd200f4-724b8620">
          <h3 class="black-text larger-spacing smaller">CUSTOMIZE YOUR BUSINESS GIFTS</h3>
          <p class="black-text">Options Available (Minimum 20 Gifts):</p>
        </div>
        <div id="w-node-f1a284fe-3c17-c2ff-ce28-26d906f0281d-724b8620" class="line"></div>
        <div id="w-node-_6352d551-9188-1edc-7faf-483de511873d-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/ribbons.png" loading="lazy" alt="" class="customize-img">
          <h6 class="black-text left-align">choose ribbon colors</h6>
        </div>
        <div id="w-node-_10d666da-85ae-44b8-91fa-a65e028fc62b-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/logo.png" loading="lazy" alt="" class="customize-img">
          <h6 class="black-text left-align">add your own logo</h6>
        </div>
        <div id="w-node-_23a894b4-a83e-8c56-99c9-64c8f16960e9-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/custom-ribbon.png" loading="lazy" alt="" class="customize-img">
          <h6 class="black-text left-align">custom logo ribbon</h6>
        </div>
        <div id="w-node-_6366fb8f-8ef9-6d8f-47c0-9fb072b70ba3-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/note-card.png" loading="lazy" alt="" class="customize-img">
          <h6 class="black-text left-align">personalized note card</h6>
        </div>
      </div>
      <p class="black-text italic-text">*We can ship to multiple locations, just give us your spreadsheet of addresses</p>
    </div>

    
  </div>


</div>
 














