<div class="shopping-for-gift-section home">
  <div class="shopping-for-gift-wrapper">
    <h1 class="smaller-h1">FREE STANDARD CUSTOMIZATIONS</h1>

    <div class="three-steps-wrapper">
      <div class="step-wrapper">
        <h5 class="step-sub-heading">Chose a ribbon color</h5>
        <img src="https://cdn.shopify.com/s/files/1/0631/3469/5654/files/Choose_ribbon.png?v=1682477548" class="step-img small-img">
      </div>

      <div class="step-wrapper">
        <h5 class="step-sub-heading">Full color logo label</h5>
        <img src="https://cdn.shopify.com/s/files/1/0631/3469/5654/files/Add_a_logo_label.png?v=1682477548" class="step-img">
      </div>

      <div class="step-wrapper">
        <h5 class="step-sub-heading">Custom card with message & logo</h5>
        <img src="https://cdn.shopify.com/s/files/1/0631/3469/5654/files/Custom_card.png?v=1682477548" class="step-img">
      </div>
    </div>

    <p class="shopping-for-gift-text">Minimum order is 10 for logo labels. Full custom options also available for additional fees.</p>

  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $(".order-dropdown-top").on('click', function() {

      if ($(this).siblings(".order-dropdown-bottom").hasClass('hide') == true) {
        $(this).siblings(".order-dropdown-bottom").removeClass("hide");


      } else 
        $(this).siblings(".order-dropdown-bottom").addClass("hide");
      



    });
  });
  $(document).ready(function() {
    $(".order-online-dropdown-whole").on('click', function() {

      if ($(this).siblings(".order-dropdown-bottom").hasClass('hide') == true) {
        $(this).siblings(".order-dropdown-bottom").removeClass("hide");


      } else 
        $(this).siblings(".order-dropdown-bottom").addClass("hide");
      



    });
  });
</script>