<div class="dark-background">
<div class="white-border-wrapper">
  <div class="general-content-wrapper home wider alt2">
    <div class="remember-flex-row">
      <div class="remember-flex-col"></div>
      <div class="remember-flex-col-text">
        <h1 class="black-text left-align center-tab">YOUR CUSTOMERS<br>&amp; EMPLOYEES WILL<br>REMEMBER YOU<br>WITH FUNKY CHUNKY</h1>
        <p class="black-text left-align center-tab">Whether you need to send gifts to a few people or thousands, Funky Chunky makes it EASY to order and be remembered</p>
        <a href="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/022822_FC_Funky_Chunky_Business_Gift_Catalog.pdf?v=1645663270" target="_blank" class="general-btn dark-border margin-t w-button">Download our Our Catalog</a>
      </div>
    </div>
    <div class="business-gift-grid">
      <div id="w-node-_5654ae0b-dc92-0536-2857-072abce3a272-724b8620" class="line"></div>
      <div id="w-node-_580968bb-8bdd-dab5-4d00-a939acd200f4-724b8620">
        <h3 class="black-text larger-spacing smaller">CUSTOMIZE YOUR BUSINESS GIFTS</h3>
        <p class="black-text">Options Available (Minimum 20 Gifts):</p>
      </div>
      <div id="w-node-f1a284fe-3c17-c2ff-ce28-26d906f0281d-724b8620" class="line"></div>
      <div id="w-node-_6352d551-9188-1edc-7faf-483de511873d-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/ribbons.png" loading="lazy" alt="" class="customize-img">
        <h6 class="black-text left-align">choose ribbon colors</h6>
      </div>
      <div id="w-node-_10d666da-85ae-44b8-91fa-a65e028fc62b-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/logo.png" loading="lazy" alt="" class="customize-img">
        <h6 class="black-text left-align">add your own logo</h6>
      </div>
      <div id="w-node-_23a894b4-a83e-8c56-99c9-64c8f16960e9-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/custom-ribbon.png" loading="lazy" alt="" class="customize-img">
        <h6 class="black-text left-align">custom logo ribbon</h6>
      </div>
      <div id="w-node-_6366fb8f-8ef9-6d8f-47c0-9fb072b70ba3-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/note-card.png" loading="lazy" alt="" class="customize-img">
        <h6 class="black-text left-align">personalized note card</h6>
      </div>
    </div>
    <p class="black-text italic-text">*We can ship to multiple locations, just give us your spreadsheet of addresses</p>
    <a href="https://funkychunkycorporate.myshopify.com/collections/all-products" class="general-btn dark-border margin-t w-button">Start Your Order</a>
    
  </div>
</div>
</div>

{%comment%}
<div class="home-cta-section">
    <div class="home-cta-wrapper">
      <div class="home-cta-content-wrapper">
        <h1>WE MAKE CORPORATE GIFTING EASY.</h1>
        <p>When you want to make a lasting impression and show clients your appreciation, turn to the corporate-gifting experts at Funky Chunky.</p>
        <a href="https://funkychunky.com/pages/corporate-gifting" class="general-btn w-button">Shop Corporate Gifting</a>
      </div>
    </div>
  </div>
  {%endcomment%}