<div class="home-hero-section">
  <div class="home-hero-back">{% comment %}
    <div class="hero-content-wrapper">
    <h3>Gifts for Any Occasion</h3>
    <h1>CUSTOMIZABLE <br>CORPORATE GIFTS</h1>
    <a href="https://funkychunkygifts.com/collections/all-products" class="general-btn margin-t w-button">Start Your Order</a>
    </div>
    {% endcomment %}</div>


  <div class="general-white-front home top-flat">
    <div class="general-content-wrapper wider no-padding-b">
      <h1 class="black-text">FUNKY CHUNKY PROMOTIONAL GIFTS</h1>
      {% comment %}
      <p class="black-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      {% endcomment %}
    </div>
    <div class="corporate-gift-pill">
      <div class="wholesale-pill-flex-row">
        <div class="wholesale-pill-flex-col"><img
            src="https://cdn.shopify.com/s/files/1/0631/3469/5654/files/Thumbs_up_icon_white.png?v=1682464626"
            loading="lazy"
            alt=""
            class="wholesale-img">
          <p class="no-margin-b">100% Guaranteed to impress</p>
        </div>
        <div class="wholesale-pill-flex-col"><img
            src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/cg-brand.svg"
            loading="lazy"
            alt=""
            class="wholesale-img">
          <p class="no-margin-b">Free Customizations<span class="break-line"></span>
          </p>
        </div>
        <div class="wholesale-pill-flex-col"><img
            src="https://cdn.shopify.com/s/files/1/0631/3469/5654/files/Truck_icon_white.png?v=1682464626"
            loading="lazy"
            alt=""
            class="wholesale-img">
          <p class="no-margin-b">Drop shipping experts</p>
        </div>
        <div class="wholesale-pill-flex-col"><img
            src="https://cdn.shopify.com/s/files/1/0631/3469/5654/files/us-flag.svg?v=1682464548"
            loading="lazy"
            alt=""
            class="wholesale-img">
          <p class="no-margin-b">Made in the U.S.</p>
        </div>
      </div>
    </div>


    <div class="general-content-wrapper wider alt2 best-gift-content-wrapper">

      <div class="best-gift-wrapper">
        <div class="best-gift-img">
          <img
            src="https://cdn.shopify.com/s/files/1/0631/3469/5654/files/product_group_no_bar.png?v=1682476517"
            loading="lazy"
            alt="">
        </div>
        <div class="best-gift-text-bar">
          <h1 class="black-text">THE BEST GIFT YOU CAN EAT. PERIOD</h1>
        </div>
        <ul class="best-gift-benefit-row">
          <li class="black-text left-align center-tab">A solution for every budget</li>
          <li class="black-text left-align center-tab">Free customizations</li>
          <li class="black-text left-align center-tab">Packaged to impress</li>
          <li class="black-text left-align center-tab">No Setup fees</li>
          <li class="black-text left-align center-tab">Nation-wide drop shipping</li>
          <li class="black-text left-align center-tab">USA made and Veteran owned</li>
        </ul>
        <div class="best-gift-btn">
          <a href="#" class="general-btn dark-with-w-text margin-t w-button">EXPLORE OUR GIFTS</a>
        </div>
      </div>

    </div>


  </div>


</div>