<div class="general-hero-section">
    <div class="about-hero-black-back _100vw">
      <div class="about-hero-text-wrapper corporate">
        <h5 class="all-caps white-text">multiship</h5>
        <h1 class="no-margin-b">ship to everyone!</h1>
      </div>
      <div class="top-left-multiship-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png 600w" sizes="12vw" alt="" class="img-absolute-inner"></div>
      <div class="top-r-multiship-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min.png 1150w" sizes="30vw" alt="" class="img-absolute-inner multiship"></div>
    </div>
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  <div class="white-section">
    <div class="general-white-front top-flat">
      <div class="general-content-wrapper wider">
        <h1 class="black-text">send to multiple addresses in a single order</h1>
        <p class="black-text">Did you know that you can send gifts to multiple individuals in a single order?<br>We have two ways to do that!</p>
        <div class="flex-text-multi">
          <h5 class="all-caps bold-text">have a smaller list?</h5>
          <p class="black-text no-margin-b italic-text light"> (Less than 20)</p>
        </div>
        <p class="black-text">Order Online using our Multiple Address option (see below)</p>
        <div class="flex-text-multi">
          <h5 class="all-caps bold-text">have a larger list, or just need help?</h5>
          <p class="black-text no-margin-b italic-text light"> (More than 20)</p>
        </div>
        <p class="black-text">Email us at <a href="mailto:corporate@funkychunky.com" class="bright-blue-black-link">corporate@funkychunky.com</a> and we&#x27;ll take your list and do the rest.</p>
      </div>
    </div>
  </div>
  <div class="black-back-section relative">
    <div class="multiship-wrapper">
      <h1 class="no-margin-b">how to use multiship</h1>
      <p>For a Printable Guide please <a href="#" class="bright-blue-white-link">click here</a>:</p>
      <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="multiship-tabs w-tabs">
        <div class="tab-menu-info multiship w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-link-multiship w-inline-block w-tab-link w--current">
            <div>step 1</div>
          </a>
          <a data-w-tab="Tab 2" class="tab-link-multiship w-inline-block w-tab-link">
            <div>step 2</div>
          </a>
          <a data-w-tab="Tab 3" class="tab-link-multiship w-inline-block w-tab-link">
            <div>step 3</div>
          </a>
          <a data-w-tab="Tab 4" class="tab-link-multiship w-inline-block w-tab-link">
            <div>step 4</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="multiship-tab-inner">
              <p class="center-mob">Are you thinking to yourself: "Oh, these Funky Chunky gifts would be so good for ALL of my friends and family!" Yeah, we hear that a lot.</p>
              <p class="center-mob">Easy enough, put ALL of the items you want in your cart! You can add your gift messages right then (to keep track of who you're sending them to), or you can do it later at the Cart Page.</p>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="multiship-tab-inner">
              <p class="center-mob">When you're all done adding what you want to send to your cart, just click on the "Cart" button after adding your last item, or the Cart Icon at the upper right of the page!</p>
              <p class="center-mob">*Pro Tip for larger address lists: If you have a LARGE list of addresses to enter, go to your account page by clicking the person icon in the upper right, and add your addresses to your account by clicking on the "Address Book" in the left menu PRIOR TO checking out! Once there, you can enter in each address or COPY from a spreadsheet by clicking the IMPORT ADDRESSES button! This way you can just use the drop down to select an address versus entering it in there.</p>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div class="multiship-tab-inner">
              <p class="center-mob">This is where the magic happens! Just click on the "Ship to Multiple Addresses" button. If you have more than one of the same gift, pick the quantity you want to send, the address you want to send it to (or enter in a new one), and don't forget to put your loving message that you want your gift recipient to read! We want to make sure they know it's from you!</p>
              
            </div>
          </div>
          <div data-w-tab="Tab 4" class="w-tab-pane">
            <div class="multiship-tab-inner">
              <p class="center-mob">After you click "Continue," pick your shipping method (note that Free Shipping promotions apply to EACH address to qualify), add any promotional codes, and complete your check out!</p>
              <p class="center-mob">*IMPORTANT NOTE: While you will receive a single order number upon completing checking out, your order will be split to NEW orders (one per address) to facilitate accurate shipping. In order to track each order, we recommend that you create an account so you can see the new order numbers, and utilize our <a class="bright-blue-black-link alt" href="https://funkychunky.com/apps/trackingmore">Track Your Order tool</a>. Otherwise, feel free to email us at <a class="bright-blue-black-link alt" href="mailto:info@funkychunky.com">info@funkychunky.com</a> in order to get updates on your order status.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="white-section">
    <div class="general-white-front margin-t">
      <div class="general-content-wrapper wider">
        <h1 class="black-text">start your large order</h1>
        

        <div style="margin:0 auto;" class="pxFormGenerator" id="3XGe6CY3XX3_Q4zQfBxrQQ"></div>
        {%comment%}
        <div class="large-order-form w-form">
          <form id="wf-form-Gifting-Form" name="wf-form-Gifting-Form" data-name="Gifting Form" method="get">
            <div class="flex-form-fundraiser"><input type="text" class="general-text-field flex w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="First Name*" id="First-Name" required=""><input type="text" class="general-text-field flex w-input" maxlength="256" name="Last-Name" data-name="Last Name" placeholder="Last Name*" id="Last-Name" required=""></div><input type="email" class="general-text-field flex w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Email Address*" id="Email-Address" required=""><input type="email" class="general-text-field flex w-input" maxlength="256" name="Phone-Number" data-name="Phone Number" placeholder="Phone Number*" id="Phone-Number" required="">
            <div class="grid-form-multiship">
              <p class="black-text">How many gifts do you need?</p>
              <p class="black-text">Estimated Budget per Gift?</p><input type="text" class="general-text-field flex w-input" maxlength="256" name="Number-of-Gifts-Needed" data-name="Number of Gifts Needed" placeholder="100" id="Number-of-Gifts-Needed" required=""><input type="text" class="general-text-field flex w-input" maxlength="256" name="Estimated-Budget-Per-Gift" data-name="Estimated Budget Per Gift" placeholder="$50" id="Estimated-Budget-Per-Gift" required="">
            </div><input type="submit" data-wait="Please wait..." value="Submit Inquiry" class="general-btn dark-with-w-text w-button">
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        {%endcomment%}
        <p class="black-text smaller">By entering your email, phone number and submitting this form, you consent to receive marketing email and/or text messages (such as promotions, general communications &amp; order transaction information) from Funky Chunky at the number provided, including messages sent by autodialer. Consent is not a condition of any purchase. Message and data rates may apply. Message frequency varies. You can unsubscribe at any time by replying STOP or clicking the unsubscribe link (where available) in one of our messages. View our <a href="privacy-policy.html" class="black-bright-blue-link bold">Privacy Policy</a> and <a href="terms-conditions.html" class="black-bright-blue-link bold">Terms of Service</a>.</p>
        <p class="black-text smaller">*If you qualify for free samples, you may be asked to pay for shipping.</p>
      </div>
    </div>
  </div>
  <div class="black-back-section padding-b">
    <div class="corporate-gift-wrapper-copy">
      <h1 class="no-margin-b">have a really big list?</h1>
      <p>Email us your spreadsheet!</p>
      <a href="#" class="general-btn white-background w-button">Download Our Spreadsheet Order Form</a>
    </div>
  </div>